  <!-- Table row -->
 <div class="box box-primary" ng-controller="listcrmheader">
<div class="box-header">
  <i class="ion ion-clipboard"></i>
  <h3 class="box-title">Activités</h3>
  <div class="box-tools pull-right">
     <div ng-include src="'templates/list_pagination_mini.html'"></div>
  </div>
</div>
<div class="box-body">		  
	  <table class="table table-striped">
		<thead>
		<tr>
		  <th>Date</th>
		  <th>Type Activité</th>
		  <th>Contact</th>
		  <th>Client</th>
		  <th>Dossier</th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "record in records">
				<td ng-cloak>{{record.createdate}}</td>
				<td ng-cloak>{{record.crm_activitytype___description}}</td>
				<td ng-cloak>{{record.contact___fullname}}</td>
				<td ng-cloak>{{record.customer___fullname}}</td>
				<td ng-cloak>{{record.crmheaderid}}</td>
			</tr>
		</tbody>
	  </table>

  </div>
  <!-- /.row -->

